/*Globla Styles */

/*
* {
    margin: 0;
    padding: 0;
}
*/


body {
    background: white;
    font-family: 'Caveat', cursive;
    box-sizing: border-box;
}

main    {
    position: relative;
}

li {
    list-style: none;
}

h1 {
    font-size: 35px;
    text-align: left;
}

h2  {
    text-decoration: underline;
    font-size: 20px;
}

.image img {
    width: 200px;
    height: 200px;
    border: solid 2px orange;
    margin: 4px; 
    }

section {
    border: 2px solid green;
    width: 400px;
    height: 200px;
 }

footer {
    border: 2px solid blue;
    margin-top: 10px;
    width: 400px;
    height: 120px;
}

#cuadro {
    position: absolute;
    top: 80px;
    left: 250px;
}



   


